*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}
#area-cabecalho{
    padding: 0.9rem;
    background-color: #f7b600;
    text-align: center;
}
.logo-branco{
    color: #fff;
}

#area-logo, #menu{
    padding: 0.7rem;
}
#menu a{
    text-decoration: none;
    border-radius: 8px;
}
#menu a:link, #menu a:visited{
    color: black;
    padding: 8px 12px;
}

#menu a:hover{
    background-color: black;
    color: #f7b600;
}

#principal{
    width: 57.5rem;
    margin: 0.5rem auto;
    display: flex;
    flex-wrap: wrap;
}

#postagens{
    width: 41.25rem;
}

#lateral{
    width: 15rem;
    margin-left: 1.2rem;
}

.postagens{
    padding: 1rem;
    background-color: #fff;
}
.postagens-imagem{
    width: 39rem;
}
.postagens-titulo{
    color: #f7b600;
}
.postagens-data{
    font-size: 0.8rem;
    display: block;
    padding-bottom: 0.8rem;
}
.postagens a{
    text-decoration: none;
}
.postagens a:visited, .postagens a:link{
    color: #f7b600;
}
.postagens a:hover{
    text-decoration: underline;
}

.conteudo-lateral{
    padding: 0.8rem;
    margin-bottom: 0.7rem;
    background-color: #fff;
}
.conteudo-lateral-titulo{
    color: #565656;
    background-color: #ccc;
    padding: 3rem;
}
.texto-postagens-lateral{
    font-size: 0.8rem;
    padding: 0.3rem;
}
.conteudo-lateral{
    text-decoration: none;
    display: block;
    margin: 0.2rem;
    font-size: 0.8rem;
}
.conteudo-lateral a:visited, .conteudo-lateral a:link{
    color: #f7b600;
}
.conteudo-lateral a:hover{
    text-decoration: underline;
}

footer{
    width: 57.5rem;
    margin: 9px auto;
}

footer p{
    text-align: center;
    background-color: #ccc;
}
